<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    

    <title>Bootstrap - Example 2</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a href="./index.html" class="navbar-brand">Bootstrap Example</a>
        <div class="ml-auto">
            <ul class="navbar-nav">
                
                <li class="nav-list"><a class="nav-link" href="./nayana">Ashru</a></li>
                <li class="nav-list"><a class="nav-link" href="./index">Home</a></li>
                <li class="nav-list"><a class="nav-link" href="./about">About</a></li>
                <li class="nav-list"><a class="nav-link" href="./services">Services</a></li>
                <li class="nav-list"><a class="nav-link" href="./employees">Employee</a></li>
                <li class="nav-list"><a class="nav-link" href="./contact">Contact</a></li>
                <li class="nav-list"><a class="nav-link" href="./login">Login</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <h2>Index Page</h2>

        <hr>

        <a href='https://www.infosys.com/' target="_blank" ><h3>Contact Infosys</h3></a>
    </div>
</body>

</html>